<table class="table table-striped">
    <tr>
        <th width="20"><input type="checkbox" name="all_remediation_targets" onchange="toggle_all_remediation_targets()"/></th>
        <th>Type</th>
        <th>Value</th>
        <th>Remediator</th>
        <th>Action</th>
        <th>Status</th>
        <th>Result</th>
    </tr>
    {% for target in targets %}
    {% set remediation = target.get_current_remediation() %}
    <tr>
        <td><input type="checkbox" name="remediation_target" r_name="{{ target.remediator_name | s64encode}}" r_type="{{ target.observable_type | s64encode}}" r_value="{{ target.observable_value | s64encode}}"/></td>
        <td>{{ target.observable_type }}</td>
        <td>{{ target.observable_value }}</td>
        <td>{{ target.remediator.display_name }}</td>
        <td>
            {% if remediation %}
                {{ remediation.action }}
            {% endif %}
        </td>
        <td>
            {% if remediation %}
                {{ remediation.status }}
            {% endif %}
        </td>
        <td>
            {% if remediation and remediation.result %}
                {{ remediation.result }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
