{% extends "base.html" %}
{% block control_panel %}
<div class="container-fluid">
    <!-- control panel -->
    <div class="row">
        <div class="col">
            <button type="button" id="btn_refresh" class="btn btn-outline-success"><span class="bi bi-arrow-clockwise"></span> Refresh</button>
            <button type="button" id="btn_retry" class="btn btn-outline-dark"><span class="bi bi-arrow-clockwise"></span> Retry Selected</button>
            <button type="button" id="btn_cancel" class="btn btn-outline-dark"><span class="bi bi-x"></span> Cancel Selected</button>
            <button type="button" id="btn_delete" class="btn btn-outline-dark"><span class="bi bi-trash"></span> Delete Selected</button>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h4>File Collections</h4>
                    </div>
                    <div class="col text-end">
                        <div style="white-space: nowrap; display: inline-block;">
                            <button id="btn_fc_page_start" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-skip-start"></span></button>
                            <button id="btn_fc_page_backward" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-skip-backward"></span></button>
                            <span id="fc_page_count">0 to 0 of 0</span>
                            <button id="btn_fc_page_forward" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-skip-forward"></span></button>
                            <button id="btn_fc_page_end" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-skip-end"></span></button>
                            <button id="btn_fc_page_size_edit" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-pencil-square"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collections_panel" style="max-height: 70vh; overflow-y: auto;"></div>
        </div> <!-- end column -->
        <div class="col-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h4>History</h4>
                    </div>
                    <div class="col text-end">
                        <div style="white-space: nowrap; display: inline-block;">
                            <button id="btn_fch_page_start" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-skip-start"></span></button>
                            <button id="btn_fch_page_backward" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-skip-backward"></span></button>
                            <span id="fch_page_count">0 to 0 of 0</span>
                            <button id="btn_fch_page_forward" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-skip-forward"></span></button>
                            <button id="btn_fch_page_end" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-skip-end"></span></button>
                            <button id="btn_fch_page_size_edit" type="button" class="btn btn-outline-dark btn-xs"><span class="bi bi-pencil-square"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collection_history_panel" style="max-height: 70vh; overflow-y: auto;"></div>
        </div>
    </div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}

{% block custom_modals %}
<div class="modal fade" id="fc_page_size_edit_modal" tabindex="-1" role="dialog" aria-labelledby="fc_page_size_edit_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fc_page_size_edit_modal_label">Edit Page Size</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="fc_page_size">Set Page Size</label>
                        <input type="number" class="form-control" id="fc_page_size" name="fc_page_size" value="{{ page_size }}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_fc_page_size_edit_apply">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fch_page_size_edit_modal" tabindex="-1" role="dialog" aria-labelledby="fch_page_size_edit_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fch_page_size_edit_modal_label">Edit Page Size</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="fch_page_size">Set Page Size</label>
                        <input type="number" class="form-control" id="fch_page_size" name="fch_page_size" value="{{ fch_page_size }}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_fch_page_size_edit_apply">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock custom_modals %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/manage_file_collections.js') }}?version={{ ACE_VERSION }}"></script>
{% endblock %}
