{% extends "analysis/alert.html" %}
{% block alert_details %}
{% if analysis.details['email'] %}
<table class="table table-bordered table-condensed">
    {% if 'env_mail_from' in analysis.details['email'] %}
    <tr>
        <td class="col-md-2"><strong>MAIL FROM:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['env_mail_from'] }}</td>
    </tr>
    {% endif %}
    {% if 'env_rcpt_to' in analysis.details['email'] %}
    <tr>
        <td class="col-md-2"><strong>RCPT TO:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['env_rcpt_to'] | join(', ') }}</td>
    </tr>
    {% endif %}
    {% if 'reply_to' in analysis.details['email'] %}
    <tr>
        <td class="col-md-2"><strong>Reply-To:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['reply_to'] }}</td>
    </tr>
    {% endif %}
    {% if 'return_path' in analysis.details['email'] %}
    <tr>
        <td class="col-md-2"><strong>Return-Path:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['return_path'] }}</td>
    </tr>
    {% endif %}
    <tr>
        <td class="col-md-2"><strong>To:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['to'] | join(', ') }}</td>
    </tr>
    <tr>
        <td class="col-md-2"><strong>Subject:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['subject'] }}</td>
    </tr>
    {% if 'decoded_subject' in analysis.details['email'] %}
    <tr>
        <td class="col-md-2"><strong>Decoded Subject:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['decoded_subject'] }}</td>
    </tr>
    {% endif %}
    {% if 'connection_id' in analysis.details['email'] %}
    <tr>
        <td class="col-md-2"><strong>Connection ID:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['connection_id'] }}</td>
    </tr>
    {% endif %}
    {% if 'message-id' in analysis.details['email'] %}
    <tr>
        <td class="col-md-2"><strong>Message-ID:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['message-id'] }}</td>
    </tr>
    {% endif %}
    {% if 'originating_ip' in analysis.details['email'] %}
    <tr>
        <td class="col-md-2"><strong>Originating IP:</strong></td>
        <td class="col-md-10">{{ analysis.details['email']['originating_ip'] }}</td>
    </tr>
    {% endif %}
</table>

<div class="card mb-3">
    <div class="card-header">
        <h6>Headers <a role="button" data-bs-toggle="collapse" data-bs-target="#collapse_headers" aria-expanded="false" aria-controls="collapse_headers">(hide/show)</a></h6>
    </div>
    <div class="card-body collapse" id="collapse_headers">
        <div class="card-text">
            <pre>{% for header, value in analysis.details['email']['headers'] %}{{header}}: {{value}}
{% endfor %}</pre>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
